#location {
  #map {
    height: 30rem;
    border-radius: 0.7rem;
  }
  #info {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    .section {
      background-color: rgb(40, 40, 40);
      text-align: center;
      padding: 0.6rem;
      border-radius: 0.7rem;
      white-space: pre;
    }
  }
}
@media (min-width: 600px) {
  #info {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
