#location {
  #map {
    height: 25rem;
    margin-top: 1rem;
  }
  #info {
    display: grid;
    gap: 1rem;
    .section {
      background-color: rgb(40, 40, 40);
      padding: 0.6rem;
      white-space: pre;
    }
  }
}
@media (min-width: 40rem) {
  #info {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}
