#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
section {
  text-align: center;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
}
section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
section h2 {
  margin: 5px 0 0;
}
section p {
  margin: 0 10px 10px;
}
