#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  article {
    text-align: center;
    background-color: rgb(40, 40, 40);
    border-radius: 0.7rem;
    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      border-radius: 0.7rem 0.7rem 0 0;
    }
    h2 {
      font-size: 1.6rem;
    }
    p {
      margin: 0 0.6rem 0.6rem;
      font-size: 1.1rem;
    }
  }
}
