div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
section {
  margin: 10px 0;
}
section img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
